@model Project_1.Client.ViewModels.PizzaViewModel
@{
    ViewData["Title"] = "Order";
}
<h1>@ViewData["Title"]</h1>

@using(Html.BeginForm("PlaceOrder", "Order", null, FormMethod.Post))
{
  @Html.AntiForgeryToken();
  foreach (var crust in Model.Crusts)
  {
    @Html.RadioButtonFor(m => m.Crust, crust.Name);
    @Html.LabelFor(m => m.Crust, crust.Name);
    @Html.ValidationMessageFor(m => m.Crust);
  }
  <br>
  @Html.AntiForgeryToken();
  foreach (var size in Model.Sizes)
  {
    @Html.RadioButtonFor(m => m.Size, size.Name);
    @Html.LabelFor(m => m.Size, size.Name);
    @Html.ValidationMessageFor(m => m.Size);
  }
  <br>
  @for(int i = 0;i<Model.Toppings.Count;i++)
  {
    @Html.CheckBoxFor(m => m.Toppings2[i].IsSelected);
    @Html.DisplayFor(m => m.Toppings[i].Name);
    @Html.HiddenFor(m => m.Toppings2[i].Text);
    
  }
  <br>
  <button type="submit">place order</button>
}